body{
  
}
nav{
  position:fixed;
}
.navbar-brand{
 font-family:cursive;
  font-size:25px;
  padding-left:5px;
}
.ul1{
  font-size:18px;
  
}
.ul1 a{
  transition: all 0.3s ease;
}
.li1:hover{
  background-color:black;
  font-size:22px;
}
.content{
  background-color:#A9A9A9;
  margin:0px 180px;
  height:500px;
}
.p1{
  padding-left:350px;
  font-family:Times;
  font-size:30px;
  margin-top:90px;
}
.p2{
  font-family:courier;
  margin-top:50px;
  font-size:21px;
  
}
.p3{
  font-family:courier;
  font-size:21px;
  margin-top:50px;
}
.img1{
height:200px;
  margin-right:180px;
  margin-bottom:500px;
  border-radius:50%;
  
}
.img1:hover{
  opacity:0.5;
  
}
.projects{
  background-color:#FFFAFA;
  margin:-20px 180px;
  height:1000px;
  
}

.home{
animation: bgcolor infinite 20s;
  height:900px;
}
@keyframes bgcolor{
  0%
  {
    background:#e74c3c;
  }
  20%
  {
    background:#e74c3c;
  }
  40%
  {
    background:#f39c12;
  }
  60%
  {
    background:#f1c40f;
  }
  80%
  {
    background:#2ecc71;
  }
  100%
  {
    background:#16a085;
  }
}
.hometext{
  font-size:50px;
  text-align:center;
  margin-top:200px;
  font-family:georgia;
  font-weight:bold;
}
.hometext2{
  font-size:140px;
  text-align:center;
  margin-top:-60px;
  margin-right:-15px;
  font-family:garamond;
  
}
.animation{
  animation: car infinite 5s;
}
.car1{
  height:100px;
  margin-top:50px;
}
.credits{
  font-family:garamond;
  font-size:20px;
  margin-top:400px;
  margin-left:150px;
}
.lang{
  font-family:goromond;
  margin-left:900px;
  font-size:20px;
  margin-bottom:;
}
.p4{
  font-family:goromond;
  font-size:20px;
  margin-top:35px;
  
}
h1{
  font-family:cursive;
  font-size:30px;
}
.li2{
  font-family:goromond;
  font-size:25px;
  
}
.li2components{
  font-family:goromond;
  font-size:20px;
}
.img2{
  height:120px;
  float:right;

  

}
.img3{
  height:120px;
  float:right;
  margin-right:200px;
  border: 1px solid black;
  
}
.contact{
  background-color:#A9A9A9;
  margin:0px 180px;
  height:500px;
}
.name{
  width:250px;
  height:30px;
  margin-left:60px;
}
.contacttext{
 float:right;
  margin-right:200px;
  font-size:20px;
  margin-top:20px;
  font-family:times;
}
.button{
  margin-left:240px;
}
.footer{
  background-color:black;
  height:250px;
  
}
.footertext{
  font-family:verdana;
  color:white;
  font-size:20px;
  font-weight:bold;
  padding:70px 0px 0px 300px;
  
}
.icons{
  font-family:verdana;
  color:white;
  font-size:20px;
  padding:0px 0px 0px 300px;
}
.social{
  font-family:verdana;
  color:white;
  font-size:20px;
  font-weight:bold;
  padding:70px 0px 0px 800px;
}
.icon_padding{
  padding-left:10px;
  
}
.fa1 {
  border: 2px solid white;
   border-radius:50%;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  padding:10px;
}
.fa:hover{
  text-decoration:none;
}
.fa2{
  border: 2px solid white;
   border-radius:50%;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  padding:10px;
  margin-left:5px;
}
.fa1:hover{
  color:white;
}
.fa2:hover{
  color:white;
}
